/* font-family: Specifies the font type.
font-size: Determines the size of the text.
font-weight: Adjusts the thickness of the text.
font-style: Controls the slant of the text (e.g., italic).
line-height: Sets the space between lines of text.
letter-spacing: Modifies the space between characters.
text-transform: Controls the capitalization of text. */

.text{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size: 1.2rem;
    letter-spacing: 3px;
    text-transform: lowercase;
}
.subText{
    text-align: center;
    font-family: "Geist",sans-serif;
    font-weight: 400;
    
}

/* responsive typography */

@media (max-width: 600px) {
    
    body{
        font-size: 12px;
    }
}

/* em and rem: These units are relative to the parent element or root element’s font size, allowing better scaling.
vw (viewport width): This unit scales the font size based on the width of the viewport, which is great for fluid layouts. */