/* Syntax:
          @media mediaType and (condition) {
          CSS rules that applies if condition is true 
         } 
          */

/* example */
@media (max-width: 768px) {
  body {
    background-color: lightblue;
  }
}
.container{
    text-align: center;
    padding: 60px;
    border: 1px dashed purple;
    background-color: aquamarine;
}
/* You can target screen size (width, height), resolution (min-resolution), orientation (landscape, portrait) */

@media (max-width:680px){
    .container{
        background-color: blue;
        color: white;
    }
}

/* The orientation media feature allows you to apply different styles based on the orientation of the device, such as portrait (vertical) or landscape (horizontal). */

@media (orientation: landscape){
    .container{
        background-color: brown;
    }
}